:root {
  --bg-primary: #635985;
  --bg-secondary: #18122B;
  --bg-tertiary: #443C68;
  --text-primary: #F6F4EB;
  --text-secondary: #29ffbf;
}

::-webkit-scrollbar {
  background-color: var(--bg-tertiary);
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
}
::-webkit-scrollbar-track:hover {
  background: var(--text-secondary);
}

::-webkit-scrollbar-thumb:hover {
}

.App {
  text-align: center;
  background-color: var(--bg-primary);
  color: #fefefe;
  height: 100%;
  font-family: 'Inclusive Sans';
}

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  gap: 50px;
  transition: background-color 0.9s;
  backdrop-filter: blur(0px) brightness(.5);
}

.Nav.scrolling {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px) brightness(.6);
}

.Nav-title {
  height: 50px;
  color: var(--text-primary);
  font-family: 'Skranji', cursive;
  cursor: crosshair;
  transition: all 1s ease-in-out;
}

.Nav-title:hover {
  transform: rotate(1.5deg) scale(1.1);
  color: var(--text-secondary);
}

.Movie-search {
  width: 50%;
  padding: 1px;
  color: var(--text-secondary);
  background-color: var(--bg-tertiary);
  height: 25px;
  border: 1px solid var(--bg-primary);
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

input {
  opacity: 0.8;
  border: 1px solid var(--bg-primary);
}

input::placeholder {
  color: var(--text-primary);
  font-size: 1em;
  text-align: center;
  letter-spacing: 5px;
  opacity: 0.5;
}


.Nav-link {
  padding: 5px;
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 20px;
  font-size: 1.2em;
}

.Nav-link li {
  margin: 0;
}

.Nav-link a {
  text-decoration: none;
  color: var(--text-primary);
}

.Nav-link li:hover {
  transition: all .5s ease-in-out;
  transform: scale(1.5);
  color: var(--text-secondary);
}

.Nav-link a:hover {
  transition: all .5s ease-in-out;
  transform: scale(1.5);
  color: var(--text-secondary);
}

.Section-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Section-trending{
  justify-content: center;
  align-items: center;
}

.Carousel-container ul{
  width: 100%;
  margin: 2px;
  padding: 2px;
}

.Trending-container{
  width: 100%;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}

.Trending-container::-webkit-scrollbar {
  background-color: var(--bg-tertiary);
  width: 12px;
  height: 8px;
  border-radius: 6px;
}

.Trending-container::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
  border-radius: 6px;
}
.Trending-container::-webkit-scrollbar-track:hover {
  background: var(--text-secondary);
  border-radius: 6px;
}

.Trending-container::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
}

.Trending-wrapper {
  padding: 10px;
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: column;
  justify-content: center;
}

.Trending-wrapper .Movie-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}

.Movie-title {
  max-width: 90%;
  height: 100%;
  padding: 2px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin: 2px 5px 25px;
}

.Movie-thumbnail {
  border-radius: 10px;
  margin: 10px 5px 2px;
}

.Movie-date {
  font-style: italic;
  padding: 2px;
  font-size: .7em;
}

.Movie-rating {
  color: var(--text-secondary);
  font-weight: bold;
  font-size: .9em;
  padding: 5px;
}

.Movie-rating i{
  color: var(--text-secondary);
}

.Content-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  gap: 10px;
}

.Section-trending {
  margin-top: 25px;
  padding: 10px;
}

.Section-content {
  padding: 10px;
  margin-top: 25px;
}

.Movie-wrapper {
  width: 342px; 
  height: auto; 
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.Movie-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}

.Movie-wrapper:hover {
  transform: scale(1.05); /* Zoom in on hover */
}

.Movie-wrapper:hover .Movie-details {
  opacity: 1; /* Reveal details on hover */
  transform: translateY(0);
}


.Section-content .Movie-wrapper {
  width: 10%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  position: relative;
}

.Section-content .Movie-title {
  max-width: 90%;
  height: 100%;
  padding: 2px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin: 2px 5px 25px;
}

.Section-content .Movie-date {
  font-style: italic;
  padding: 2px;
  font-size: .5em;
}

.Footer-container {
  background-color: var(--bg-secondary);
  padding: 10px;
  height: 10%;
  margin-top: 10px;
  color: var(--text-primary);
}

.Footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.Footer-about {
  width: 50%;
  font-size: .8em;
}

.Footer-contact {
  width: 50%;
  font-size: .8em;
}

i {
  margin: 5px;
  color: var(--text-primary);
  transition: all .7 ease-in-out;
}

i:hover {
  color: var(--text-secondary);
  scale: 1.2;
}

.fa {
  margin: 5px;
  padding: 2px;
}

@media (max-width: 768px) {
  .App {
    text-align: center;
    color: #fefefe;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .Nav {
    flex-direction: column; 
    align-items: center; 
    padding: 2px;
    gap: 1px;
    position: relative;
  }

  .Nav-link {
    margin-right: 0; 
  }

  .Nav-link li {
    margin: 0;
  }

  .Nav-link a {
    padding: 10px;
    display: block; 
  }

  .Movie-search {
    width: 60%;
    padding: 3px;
    color: var(--text-primary);
    background-color: var(--bg-tertiary);
    height: 25px;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
  }
  
  input::placeholder {
    color: var(--text-primary);
    font-size: 1em;
    text-align: center;
    letter-spacing: 5px;
    opacity: 0.5;
  }

  .Section-title {
    margin-top: 2px;
    margin-bottom: 20px;
  }
  
  .Carousel-container {
    justify-content: center;
  }
  
  .Carousel-container ul{
    width: 90%;
    margin: 1px;
    padding: 1px;
  }
  
  .Trending-container{
    width: 100%;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
  }
  
  .Trending-container::-webkit-scrollbar {
    background-color: #333;
    width: 12px;
    height: 5px;
    border-radius: 6px;
  }
  
  .Trending-container::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 6px;
  }
  .Trending-container::-webkit-scrollbar-track:hover {
    background: #fefefe;
    border-radius: 6px;
  }
  
  .Trending-container::-webkit-scrollbar-thumb:hover {
    background: #333; 
    border-radius: 6px;
  }

  .Movie-wrapper {
    width: 100%; 
    height: auto; 
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .Trending-wrapper {
    padding: 5px;
    margin: 0 5px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: column;
  }
  
  .Movie-title {
    max-width: 90%;
    height: 30px;
    padding: 2px;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
    margin: 1px 3px 10px;
  }
  
  .Movie-thumbnail {
    border-radius: 10px;
    margin: 10px 5px 2px;
  }
  
  .Movie-date {
    font-style: italic;
    padding: 2px;
    font-size: .7em;
  }
  
  .Movie-rating {
    color: var(--text-secondary);
    font-weight: bold;
    font-size: .9em;
    padding: 5px;
  }
  
  .Content-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    gap: 20px;
  }
  
  .Section-trending {
    margin-top: 25px;
    padding: 10px;
  }
  
  .Section-content {
    padding: 10px;
    margin-top: 25px;
  }
  
  .Section-content .Movie-wrapper {
    max-width: 50%;
    width: 42%;
    height: 30vh;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
  }
  
  .Section-content .Movie-title {
    height: 50px;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin: 2px 5px 7px;
    text-transform: uppercase;
  }
  
  .Section-content .Movie-thumbnail {
    border-radius: 10px;
    margin: 5px;
    max-width: 100%;
  }
  
  .Footer-container {
    background-color: #282c34;
    padding: 10px;
    height: 10%;
    margin-top: 10px;
  }
  
  .Footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .Footer-about {
    width: 50%;
    font-size: .8em;
    text-align: left;
  }
  
  .Footer-contact {
    width: 50%;
    font-size: .8em;
    text-align: right;
  }

  i {
    margin: 5px;
    color: var(--text-primary);
    transition: all .7 ease-in-out;
  }
  
  i:hover {
    color: var(--text-secondary);
    scale: 1.2;
  }
  
  .fa {
    margin: 5px;
    padding: 2px;
  }
}